body{
    font-family: 'Oswald', sans-serif;
    margin:0%;
}
h1{
    font-family: 'Otomanopee One', sans-serif;
}
.mania{ color:darksalmon;}
.half-width{ 
    width: 50%;
    padding-left: 1cm;

}
.half-width img{
    width: 100%;
}
.flexible{
    display: flex;
    margin-left: 5%;
}
#nama{
    margin-top: 25%;
    font-size: 40px;
}
.button1{
    border-radius: 6px;
    background-image: linear-gradient(rgba(233, 235, 135, 0.911),rgba(251, 255, 0, 0.541));
    padding: 1% 2%;
    width: 20%; 
    font-size: 30px;
    color:indianred;
    text-decoration: none;
}
a{
    margin-top: 5%;
}
.middle{
    padding-right: 2%;
    background-color: darksalmon;
    margin: 0%;
    
}
body{
    background-image: url(exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    
}
.bg2{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.middle img{
    width: 100%;
    border-radius: 20px;
}
.align-h{
    padding-top: 5%;
}
.centre-align{
    text-align: center;
}
.last-one{
    display: flex;
    margin: 5%;
    padding: 2% 1%;
}
.last-one img {
    border-radius: 10px;
}
.shadow{
    box-shadow: 5px 5px 5px 5px dodgerblue;
    padding: 2% 3% 4% 3%;
    margin-right: 5%;
    border-radius: 3%;
}
footer{
    text-align: center;
}